* { margin: 0; padding: 0; font-size: 20px;}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(http://fonts.gstatic.com/s/vollkorn/v6/idGKtgpe38okB6bfeHMsLHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/vollkorn/v6/BCFBp4rt5gxxFrX6F12DKnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODeogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODerrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url(http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'), url(http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url(http://fonts.gstatic.com/s/vollkorn/v6/KNiAlx6phRqXCwnZZG51JGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2'), url(http://fonts.gstatic.com/s/vollkorn/v6/KNiAlx6phRqXCwnZZG51JHbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

html {
  font-family: "Vollkorn", sans-serif;
  font-weight: normal;
  margin: 1rem;
  padding: 0;
  color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul, pre, figcaption, ul, ol, .footnotes {
  padding-bottom: 1rem;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.67rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h1, h2, h3 {
  margin: 2rem auto;
  text-align: center;
}
blockquote {
  font-style: italic;
  padding: 0 1rem;
}
pre, figure > img {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}
code {
  font-family: "Courier New", monospace; 
  font-size: 0.9rem;
}
p code {
  background-color: #EFEFEF;
  padding: 0.1rem 0.25rem; 
}
pre code {
  display: block;
  padding: 0 1rem;
  line-height: 1.1rem;
  overflow: scroll;
  max-width: 95%;
}
figcaption {
  text-align: center;
  padding-bottom: 2rem;
}
figure {
  text-align: center;
}
sup, sub, a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: super; 
}
hr {
  margin: 4em auto;
  max-width: 700px;
}
ol, ul {
  list-style-position: outside;
}
li {
  padding-left: 1rem;
}
.simulation.fullscreen {
  /*padding: 1rem;*/
}
.footnotes {
  /*list-style-position: outside;*/
}
.footnotes li {
  margin: 1rem 2rem;
}
.centered {
  text-align: center;
}
